<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="hostName" value="HOSTNAME"/>
    <add key="port" value="PORT"/>
    <add key="username" value="USERNAME"/>
    <add key="password" value="PASSWORD"/>

    <add key="originator" value="ORIGINATOR"/>
    <add key="recipient" value="4471234567"/>
    <add key="message" value="Johns test message"/>
    <add key="numberOfMessagesToSend" value="6"/>
  </appSettings>
</configuration>